:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

h2 {
  font-size: 1.8em;
}
.App{
  width: 40vw;
  border: 2px solid #242424;
  padding: 0 1em 1em 1em;
  border-radius: 10px;
}

h1 {
  font-size: 2.5em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #242424;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

input{
  margin:1em;
  margin-bottom: 0;
  border: none;
}
input:focus{
  /* box-shadow: 0.1em 0.1em #535bf2; */
  outline: #aeb2f9 solid 1px;
}

.title {
  color: #646cff;
}

.chat-box {
  height: 50vh;
  width: 40vw;
  background-color: #242424;
  border: 1px #ffffff;
  display: flex;
  flex-flow: column-reverse;
  overflow: scroll;
}

#chat-title{
  min-height: 1.2em;
  text-align: center;
}

.message{
  display: flex;

}

.my-message{
  white-space: pre;
  color: #adadad
}

.their-message{
  color: #646cff;
  white-space: pre;
}